<app-bug-stats [list]="bugs"></app-bug-stats>
<app-bug-edit (bugAdded)="onNewBugCreated($event)" ></app-bug-edit>
<section class="list">
    <ul>
        <li *ngFor="let bug of bugs">
            <span 
                class="bugname" 
                [ngClass]="{ closed : bug.isClosed }"
                (click)="onBugNameClick(bug)"
            >
                {{bug.name}}
            </span>
            <div class="datetime">{{bug.createdAt | date:'dd-MMM-yyyy hh:mm:ss a'}}</div>
            <button (click)="onBtnRemoveClick(bug)">Remove</button>
        </li>
    </ul>
    <button (click)="onBtnRemoveClosedClick()">Remove Closed</button>
</section>